.menuFrame-container.top {
  margin-top: 50px;
  padding-top: 40px;
}
.menuFrame-container {
  margin-top: 20px;
}
.menuFrame-container.bottom {
  margin-bottom: 50px;
}
.container {
  margin-left: auto;
  margin-right: auto;

  height: fit-content;
  width: 90%;
  background: white;
  padding: 25px 30px;
  border-radius: 15px;
}
.container h3 {
  margin: 4px 0 0 15px;
  font-size: 24px;
}
.container h4 {
  font-size: 13px;
  margin: 0;
}
.flex {
  display: flex;
}
.subject-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #95afd7;
}

.tableContainer {
  width: 70%;
  color: #040408;
  font-family: Prompt;

  margin-left: auto;
  margin-right: auto;
}
.tableContainer thead {
  background: #edf2f8;
}
.tableContainer th {
  color: #4f79bc;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 0px 15px;

  border-bottom: 1px solid white;
}
.tableContainer table {
  border-collapse: collapse;
  width: 100%;
}
.tableContainer th.centered {
  text-align: center;
}
.tableContainer th.leftSide {
  text-align: left;
}
.tableContainer th.rightSide {
  text-align: right;
}
.tableContainer td {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 25.5px;
  padding: 5px 15px;

  vertical-align: top;
}
.tableBorder {
  border: 1px solid #d9d9d9;
}
.headerTableBorder {
  border-left: 1px solid white;
}
.tableContainer td.centered {
  text-align: center;
}
.tableContainer td.leftSide {
  text-align: left;
}
.tableContainer td.rightSide {
  text-align: right;
  width: 165px;
}
.lineInTable {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
}
.subtextColor {
  color: #636363;
}
.darkbutton {
  border-radius: 5px;
  background: #00175c;
  border: unset;
  padding: 5px 20px;

  margin-left: auto;
  margin-top: 10px;
  margin-right: 60px;
  width: fit-content;

  transition: 0.3s;
}
.darkbutton:hover {
  background: #202e58;
}
.darkbutton p {
  color: white;
  margin: 0;
  font-size: 13px;
}
