.edit.menuFrame-container.top {
  margin-top: 50px;
  padding-top: 40px;
}
.edit.menuFrame-container.bottom {
  margin-bottom: 50px;
}
.container {
  margin-left: auto;
  margin-right: auto;

  height: fit-content;
  width: 90%;
  background: white;
  padding: 25px 30px;
  border-radius: 15px;
}
.container h3 {
  margin: 4px 0 0 15px;
  font-size: 24px;
}
.container h4 {
  font-size: 13px;
  margin: 0;
}
.flex {
  display: flex;
}
.addeditscore-icon {
  display: flex;
}
.edit.lineInTable {
  width: 100%;
  border-left: 1 solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.subtextColor {
  color: #636363;
}
.darkbutton {
  border-radius: 5px;
  background: #00175c;
  border: unset;
  padding: 5px 20px;

  margin-left: auto;
  margin-top: 10px;
  margin-right: 60px;
  width: fit-content;

  transition: 0.3s;
}
.darkbutton:hover {
  background: #202e58;
}
.darkbutton p {
  color: white;
  margin: 0;
  font-size: 13px;
}
