.backHomeNav {
  position: fixed;
  display: flex;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 5px 20px;
  background: white;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 998;
}
.backHomeNav p {
  color: var(--l-hblue-6-l-hblue, #3f6196);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25.5px;

  margin: 0px 0px 0px 5px;
}
.edit.menuFrame-container.top {
  margin-top: 90px;
  padding-top: 40px;
}
.edit.menuFrame-container.bottom {
  margin-bottom: 50px;
}
.container {
  margin-left: auto;
  margin-right: auto;

  height: fit-content;
  width: 90%;
  background: white;
  padding: 25px 30px;
  border-radius: 15px;
}
.container h3 {
  margin: 4px 0 0 15px;
  font-size: 24px;
}
.container h4 {
  font-size: 13px;
  margin: 0;
}
.flex {
  display: flex;
}
.subject-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #95afd7;
}
.edit.lineInTable {
  width: 100%;
  border-left: 1 solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.subtextColor {
  color: #636363;
}
.darkbutton {
  border-radius: 5px;
  background: #00175c;
  border: unset;
  padding: 5px 20px;

  margin-left: auto;
  margin-top: 10px;
  margin-right: 60px;
  width: fit-content;

  transition: 0.3s;
}
.darkbutton:hover {
  background: #202e58;
}
.darkbutton p {
  color: white;
  margin: 0;
  font-size: 13px;
}

.table1 {
  width: 90%;
  margin: auto;
}
.tableSO {
  width: 48%;
}
.table2 {
  width: 48%;
}
.container-table2 {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: auto;
}
.table3 {
  margin: auto;
  width: 90%;
}
