table {
  border-collapse: collapse;
  z-index: -1;
}
input {
  z-index: -1;
}
.tableContainerComponent {
  width: 100%;
  background: white;
  font-family: Prompt;
}
.outsideHeader th {
  color: #4f79bc;
  background: #edf2f8;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  padding: 0px 15px;
  border: 2px solid white;
}
.insideTable.headerTH th {
  border-left: unset;
  border-right: unset;
  border-bottom: unset;
  transform: translateY(-1px);
}
.headerTH table {
  width: 100%;
}
.tableContainerComponent td {
  color: #040408;
  font-family: Prompt;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 25.5px;
  vertical-align: top;
  border: 1px solid #d9d9d9;
}
.insideDataContianer {
  padding: 0;
  transform: translateY(-1px);
}

.insideDataContianer table {
  width: 100%;
  border-top: 1px solid #d9d9d9;
}
.insideDataContianer.index01 table {
  border: unset;
}
.insideData td {
  border: unset;
}
.order {
  text-align: center;
  padding-top: 5px;
}
.order.index1 {
  border-top: 1px solid #d9d9d9;
}
.outsideData {
  padding: 0.5rem;
}
.dataTD {
  padding: 5px 1.5rem;
}
